.img-details {
  width: 600px;

  border-radius: 10px;
  box-shadow: 5px 5px 15px rgb(39, 38, 38);
  margin: 5px;
}

.cont-meal-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  padding-top: 100px;
}

.cont-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.cont-meal-info-image {
  background: linear-gradient(45deg, rgb(146, 146, 175), rgb(201, 180, 180));
  width: 100%;
  display: flex;
  border-radius: 10px;
}

.cont-info-meal-details {
  margin-left: 20px;
}

.cont-page-details {
  width: 100%;
  height: 100%;
}

.button-link-video {
  background-color: rgb(223, 48, 48);
  border: solid 1px rgb(223, 48, 48);
  text-decoration: none;
  color: black;
  padding: 6px;
  border-radius: 3px;
  transition: 0.5s;
  margin: 10px;
  width: 100%;
  text-align: center;
  transform: scale(0.8);
  font-size: x-large;
}

.list-ingredients {
  height: 550px;
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
}

.list-ingredients li {
  margin-left: 30px;
  background-color: blanchedalmond;
  margin: 5px;
  border-radius: 10px;
  padding: 5px;
  border: solid 1px rgb(96, 96, 185);
}

.button-link-video:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(255, 127, 80);
  border: solid 1px rgb(96, 96, 185);
  transform: scale(0.9);
}

.cont-instructions {
  text-align: center;
}
