.image-meal-category {
    width: 250px;
    margin:4px;
    transform: scale(0.9);
    transition: all ease 0.3s;
    border-radius: 10px;
    cursor: pointer;
    border:solid 2px black;
}

.image-meal-category:hover {
    transform: scale(1);
    border:solid 2px white;
}

.cont-meal-category {
    height: 370px;
    width: 250px;
}

.cont-title-meal {
    text-align: center;
}



