header {
  margin-top: 0;
  padding-top: 0;
  height: 75px;
  display: flex;
  background-color: rgba(255, 127, 80, 0.644);
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 300;
}

.cont-title-page {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  text-align: center;
  font-size: xx-large;
  z-index: 0;
}

header a {
  padding: 20px;
  text-decoration: none;
  color: black;
  font-size: x-large;
  transition: 0.5s;
  overflow-y: hidden;
  z-index: 330;
}

header a:hover {
  color: white;
  background-color: rgba(95, 95, 189, 0.575);
}
